@import url(http://fonts.googleapis.com/earlyaccess/notosanssinhala.css);
body {
    font: 16px/1.5 'Noto Sans Sinhala', sans-serif;
    margin: 2rem 0 5rem;
    color: #333;
}

@media (min-width: 30rem) {
    body {
        margin-top: 5rem;
    }
}

h1.sitetitle {
    margin: 0;
    font-size: 20px;
    float: left;
    color: #fff;
    margin-bottom: 20px;
}

h1.sitetitle a {
    text-decoration: none;
}

h1.sitetitle a:hover {
    color: #eee;
}

.half {
    width: 50%;
}

a:hover,
a:focus {}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans Sinhala', serif;
    font-weight: 700;
    margin: 0 0 0.5rem -0.1rem
    /* align left edge */
    
    ;
    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 30rem) {
    h1 {
        font-size: 3rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
    }
}

h1 a {
    color: inherit;
}

h2 {
    margin-top: 2rem;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    line-height: 2;
}

@media (min-width: 30rem) {
    h2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}

h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    font-size: 1rem;
}

p,
ul,
ol,
dl,
table,
pre,
blockquote {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul,
ol {
    padding-left: 1.5rem;
}

dd {
    margin-left: 1.5rem;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: .5rem 1rem;
    border-left: .25rem solid #ccc;
    color: #666;
}

blockquote p:last-child {
    margin-bottom: 0;
}

hr {
    border: none;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: -1px;
}

.container img,
.container iframe {
    max-width: 100%;
}

.container img {
    margin: 0 auto;
    display: block;
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td,
th {
    padding: .25rem .5rem;
    border: 1px solid #ccc;
}

pre,
code {
    font-family: inherit;
    background-color: #eee;
}

pre {
    padding: .5rem 1rem;
    font-size: 0.8rem;
}

code {
    padding: .1rem .25rem;
}

pre > code {
    padding: 0;
}

.container {
    width: 100%;
    left: 0;
    padding: 0;
    margin-top: 60px;
}
/*tiles*/

.tile {
    padding: 10px;
    text-decoration: none;
    color: #000000;
    transition: all .5s ease;
    height: 260px;
}

.tile:hover {
    padding: 10px;
    text-decoration: none;
    color: #000000;
    background: #eee;
}

a.tile_link {
    text-decoration: none;
}

a.tile_link:hover {
    text-decoration: none;
}

a.tile_link:focus {
    text-decoration: none;
}

.tile a {
    text-decoration: none;
}

.category {
    color: #000;
    padding: 0px;
    text-transform: uppercase;
    float: left;
    line-height: 1.1;
}

.tile-link {
    text-decoration: none;
}

.fixed {
    position: fixed;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    width: 100%;
    z-index: 1;
}
/*footer*/

#footer {
    background: #eee;
    margin-top: 130px;
    padding-bottom: 20px;
}