
<div class="content" id='footer'>
		<div class="grid grid-pad">
			<div class="col-4-12">
				
	<span style="font-weight:900;"> © Code-Lanka authors</span> by
© <a href="/">GDG Sri Lanka</a> 
				</div>
            <div class="col-4-12">
            යාවත්කාලීන කලේ  {{ site.time | date: "%Y-%m-%d" }}
            </div>
			
			<div class="col-4-12">
				<div class="content">
                   <a href="{{ site.baseurl }}/disclaimer"> වගකීමෙන් නිදහස්</a>  
				</div>
			</div>
            </div>
		</div>
